* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}
.semester {
    padding: 30px;
    text-align: center;
    background: white;
}

    .header h1 {
        display: inline-block;
        float: center;
        font-size: 50px;
    }

    .header a img {
        display: block;
        float: left;
        width: 130px;
        height: auto;
    }

.home-bar {
    margin-top: 10px;
    width: 100%;
}

    .home-bar:after {
        content: "";
        display: table;
        clear: both;
    }


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

    /* Style the topnav links */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 16px 14px;
        height: 50px;
        text-decoration: none;
    }

        /* Change color on hover */
        .topnav a:hover {
            background-color: #c12525;
        }

    .topnav select {
        display: block;
        height: 40px;
        width: 300px;
        font-size: 15px;
        margin: 5px 0;
        float: left;
    }

.badge {
	float: right;
	border: 1px solid white;
	border-radius: 50%;
	width: 20px;
	background-color: white;
	color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.row {
    margin: 0;
}

.leftcolumn {
    
    width: 50%;
    
    padding-right: 10px;
}

/* Right column */
.rightcolumn {
   
    width: 50%;
    background-color: #f1f1f1;
    padding-left: 10px;
}

.semester {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 10px;
}
.semesterCenter {
    background-color: white;
    padding: 0px;
    margin-bottom: 15px;
    text-align: center;
    height: 70px;
    width: 100%;
    border: solid 2px gray;
    border-radius: 10px;
    
}
.semesterCenter i {
    font-size: 50px;
    color: #66ff66;
    padding-top: 10px;
}

.semesterCenter i1 {
    font-size: 50px;
    color: #d36666;
    padding-top: 10px;
}

.semesterCenter i1:hover {
    color: #c12525;
    cursor:pointer;
}

.semesterCenter i:hover {
    color: green;
    cursor: pointer;
}

.semester-name {
    width: 100%;
    height: 50px;
    padding: 12px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: #8f8f8f;
}

.semester i {
    font-size: 50px;
    color: #66ff66;
    padding-top: 60px;
}

    .semester i:hover {
        color: green;
    }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.buttongroup {
    margin: 0;
    float: right;
    display: inline-block;
}

.home-button {
    background-color: #d36666;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    float: left;
}

    .home-button:hover {
        background-color: #c12525;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: calc(20% + 50px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover, .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #4b4b4b;
    color: white;
}

.modal-button {
    background-color: #8f8f8f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    float: left;
    font-size: 16px;
    height: 40px;
}

    .modal-button:hover {
        background-color: #4b4b4b;
    }

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 55px;
    margin: 17px 0;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .radio-container:after {
        content: "";
        display: table;
        clear: both;
    }

.modal-body select {
    font-size: 15px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
}

.modal-body input[type=text] {
    font-size: 15px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* Responsive layout - when the screen is less than 1200px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 1200px) {
    .leftgroup, .rightgroup {
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 700px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }

    .semester {
        padding: 10px;
    }

    .header a img {
        width: 30%;
        margin: 0 35%;
    }

    .buttongroup {
        float: none;
        width: 100%;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
        border-bottom: 1px solid #bbb;
    }

        .topnav a:last-child {
            border-bottom: none;
        }

    .topnav select {
        float: none;
        width: 100%;
        margin: 0;
    }

    .header h1 {
        font-size: 10vw;
    }
}
.box1 {
	padding: 0 20px 10px 20px;
	background-color: #dfdfdf;
    width: 905px;
    height: 500px;
    border: 5px solid;
    text-align: center;
}
.box2 {
	background-color: #dfdfdf;
	padding: 0 20px 20px 20px;
    width: 905px;
    height: auto;
    border: 5px solid;
    text-align: center;
}
.meter {
    height: 35px; /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
    .meter > span {
        display: block;
        height: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: rgb(43,194,83);
        background-image: linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
        box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
        
        overflow: hidden;
    }
.orange > span {
    
    background-color: #f1a165;
    background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

.red > span {
    background-color: #f0a3a3;
    background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}
